{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app", "./assets"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
